/* Kratos CSS Plus */
pre code {
    white-space: inherit;
    border: none;
}

.amadeus_about .textwidget {
    margin: 10px 30px 10px 30px;
}

.amadeus_about .social-icons {
    margin: 30px 30px 30px 30px;
    text-align: center;
}

.kratos-post-content p a {
    color: #51aded;
    position: relative;
}

.kratos-post-content p a:hover {
	color: #3A89C1;
}

.kratos-post-content p a:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	margin: -5px 0;
	background-color: #51aded;
	visibility: hidden;
	transform: scaleX(0);
	transition: all 0.4s ease-in-out 0s;
}

.kratos-post-content p a:hover:before {
	visibility: visible;
	transform: scaleX(1);
}

.kratos-post-content p a:hover {
    color: #51aded;
}
