/* Kratos CSS Plus */
pre code {
    white-space: inherit;
    border: none;
}

.amadeus_about .textwidget {
    margin: 10px 30px 10px 30px;
}

.amadeus_about .social-icons {
    margin: 30px 30px 30px 30px;
    text-align: center;
}

.comments-disqus {
    margin: 0 0 14px;
    background-color: #fff;
    box-shadow: 0 1px 5px rgba(0,0,0,.1);
    border-radius: 0;
    padding: 20px 20px 8px 20px;
}